@model VillaNumberVM //ndryshim nga viewbag ne VillaNumberVM qe therret model direkt te deklaruar tek _ViewImports

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"><strong>Create Villa Number</strong></h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <div class="p-3">
                <div asp-validation-summary="ModelOnly"></div>
                @*ky divi ben qe nese ke error messages te model ti afishoje tek view por e nxjerr ne fillim si pyke*@
                @*asp-for therret model qe kemi krijuar dhe nga ato cfare jane deklaruar*@
                <div class="form-floating py-2 col-12">
                    @* Select asp-for perdorert per te nxjerre si list dropdown kur krijon villa therret si fillim model villa id
                        pastaj nga items duke thirruar annotation viewdata listen qe u krijuar tek view si IEnumerable per list
                        pastaj class qe i jep thjesht nje border shadow
                        dhe option si te business centrali i shtova nje vete qe eshte disabled e para thjesht select villa si
                        instruction qe cfare te beje
                    *@

                    <select asp-for="@Model.VillaNumber.VillaId" asp-items="@Model.VillaList"
                        class="form-select border shadow">
                        <option disabled selected>--Select Villa---</option>
                    </select>
                    <label asp-for="VillaNumber.VillaId" class="ms-2"></label>
                    <span asp-validation-for="VillaNumber.VillaId" class="text-danger"></span>
                    @*tregon error message te faqja*@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="VillaNumber.Villa_Number" class="form-control border shadow" />
                    <label asp-for="VillaNumber.Villa_Number" class="ms-2"></label>
                    <span asp-validation-for="VillaNumber.Villa_Number" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="VillaNumber.SpecialDetails" class="form-control border shadow" />
                    <label asp-for="VillaNumber.SpecialDetails" class="ms-2"></label>
                    <span asp-validation-for="VillaNumber.SpecialDetails" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-x-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="VillaNumber" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-check-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
@*shton si script javascriptin ate validmin partial qe ben client side validation*@